@import "../../variables.scss";

$increased-font-size: $font-size * 1.2;

.NavBar {
  display: flex;
  padding: 1em;
  background-color: rgb(48, 48, 48);
  font-size: $font-size;
  color: white;

  .NavBarBrand {
    font-family: "Fredoka One", sans-serif;
    font-size: $increased-font-size;
  }

  .NavBarToggle {
    display: none;
  }

  .NavBarItems {
    display: flex;
  }

  .NavBarLink {
    color: inherit;
    text-transform: uppercase;
    font-weight: 700;
    text-decoration: none;
    letter-spacing: 0.1em;

    &:not(:last-child) {
      margin-right: 1em;
    }

    &:hover {
      color: darken(white, 5%);
    }
  }

  .NavBarItemsRight {
    margin-left: auto;
  }
}

@media only screen and (max-width: 768px) {
  .NavBar {
    flex-direction: column;

    .NavBarItems.Show {
      display: flex;
    }

    .NavBarToggle {
      font-size: $increased-font-size;
      align-self: flex-end;
      display: initial;
      position: absolute;
      cursor: pointer;
    }

    .NavBarItems {
      flex-direction: column;
      display: none;

      .NavBarLink {
        margin-top: 1em;
      }
    }

    .NavBarItemsRight {
      margin-left: 0;
    }
  }
}
