@import "./variables.scss";

.Content {
  display: flex;
  box-sizing: border-box;
  height: 100%;
}

.App {
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  flex-basis: 100%;
}
